.weather{
    place-self: center;
    background-color: aquamarine;
    width: 400px;
    height: 550px;
    display: flex;
    padding: 50px;
    flex-direction: column;
    position: relative;
   
    
    
    
}
.search-bar{
    display: flex;
    gap:20px;

}
.details img{
    width: 200px;
    height: 200px;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.details{
    margin: auto;
}
.search-bar input{
    border-radius: 10%;
    border: none;
    outline: none;
    height: 40px;
    
}
.search-bar img{
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    
    padding: 10px;
}
.pra{
    
    text-align: center;

    
    
}
.weather-details{
   
   display: flex;
   flex-direction: row;
   gap:150px

}
.weather-details img{
    width: 40px;
}
button{
    border-radius: 50%;
    outline: none;
    border: none;
}